@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-padding {
  @apply px-3 md:px-10 lg:px-10;
}

.backdrop-blur-sm{
--tw-backdrop-blur: blur (0px);
backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}


@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
}
